PORT=4000
CLIENT_ORIGIN=http://localhost:5173
MONGO_URI=mongodb://vishwaaloka16_db_user:adminhi@ac-ecqexz8-shard-00-00.jwa4c2j.mongodb.net:27017,ac-ecqexz8-shard-00-01.jwa4c2j.mongodb.net:27017,ac-ecqexz8-shard-00-02.jwa4c2j.mongodb.net:27017/detectives-desk?ssl=true&replicaSet=atlas-h5u8f3-shard-0&authSource=admin&appName=WEAIML03
